fieldset{
    width: 75%;
    height: 100%;
    border: 2px dotted black;
    margin: auto;
    padding: 30px;
    background: linear-gradient(180deg,aqua,pink);
}
table{
    margin: 10px;
    padding: 20px;
}
th{
    color: blue;
    text-decoration: underline;
}
